@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

.inline {
  display: inline-block;
}

.typewriterInput {
  width: 49%;
}

.typewriterInput > input {
  background: none;
  /*max-width: 25vw;*/
  overflow: visible;
  color: white;
  font-family: 'Amatic SC';
  border: none;
  font-size: 8em;
  text-decoration: underline;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.coloredBackgroundImage {
  position: absolute;
  overflow: scroll;
}

.colorLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landingText {
  font-family: 'Amatic SC';
  font-size: 8em;
  color: white;
}

.centered {
  text-align: center;
  margin: auto auto;
  position: relative;
  height: 100vh;
}

.centered > * {
  position: relative;
  top: 50%;
  vertical-align: middle;
}
